.image-gallery-container {
  position: relative;
}

.thumb-collection {
  margin-top: 50px;
  position: absolute;
  z-index: 200;
}

.thumb-img{
  height: 60px;
}

.image-view {
  position: relative;
}

.right-chevron {
  position: absolute;
  right: 0;
  top: 50%;
}

.left-chevron {
  position: absolute;
  left: 50px;
  top: 50%;
}

.up-chevron {
  position: absolute;
  top: -25px;
  left: 25%;
}

.down-chevron {
  position: absolute;
  bottom: -25px;
  left: 25%;
}

.main-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-img {
  width: 500px;
}