.image-gallery-container {
  position: relative;
}

/* Image view styling */
.image-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  /* TODO: Might change */
  height: 75vh;
  object-fit: cover;
}

/* Thumbnail styling */

.thumb-collection {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.thumb-container {
  position: relative;
  height: 100px;
  width: 100px;
}

.thumb-selection-wrapper{
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  position: absolute;
  left: 0;
  bottom: -5px;
}

.thumb-img {
  position: absolute;
  width:100px;
  height: 100px;
  object-fit: cover;
}