

.text1Div {
  display: block;
}

.uploadDiv {
  margin-top: 30px;
  margin-bottom: 30px;
}

.uploadHeader {
  margin-bottom: 5px;
}

#email {
  display: block;
}

.uploadButton {
  margin-top: 40px;
}

.imageDiv {
  font-size: small;
  color: green;
}

.button1 {
  display: inline;
  position: relative;
  width: 48%;
  margin-bottom: 1%;
  margin-left: 0px;
}

.button2 {
  position: relative;
  margin-bottom: 7%;
  width: 48%;
  margin-left: 8px;
}
