.formContainer {
  display: flex;
  flex-direction: column;
}

.questionDiv {
  display: block;
}

.x {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.nicknameDiv {
  display: block;
  margin-top: 15px;
}

#nickname {
  display: block;
}

.privacy {
  font-size: small;
  color: grey;
  margin: 0%;
}

.emailDiv {
  display: block;
  margin-top: 15px;
}

#email {
  display: block;
}

.review {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button {
  display: inline;
  cursor: pointer;
  margin-right: 7px;

}