:root {
  --button-height: 3.12em;
  --button-border: 1px solid #000;
}

#formContainer {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 10%;
  position: absolute;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.x {
  position: relative;
  margin-left: 105%;
  cursor: pointer;
  color: rgb(144, 140, 140);
  font-size: large;

}

.x:hover {
  color:black
}

.nicknameDiv {
  margin-top: 2%;
}

#nickname {
  display: block;
}

.privacy {
  font-size: small;
  color: grey;
  margin: 0%;
}

.emailDiv {
  display: block;
  margin-top: 4%;
}

.reviewDiv {
  margin-top: 4%;
}

.error {
  color: red;
  font-size: small;
  margin: 0%;
}

.buttonDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
}

.button {
  margin-bottom: 7%;
  background-color: #fff;
  border: var(--button-border);
  height: var(--button-height);
  width: 15em;
  position: relative;
  cursor: pointer;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1800ms ease-in-out;
  display: flex;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 3000;
  overflow-y: auto;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow: hidden; /* prevents background page from scrolling when the modal is open */
}