
#formContainer {
  display: flex;
  flex-direction: column;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 5%;
  position: absolute;
}

.text1Div {
  display: block;
}

.x {
  position: relative;
  margin-left: 105%;
  cursor: pointer;
  color: rgb(241, 236, 236);
  font-size: large;

}

.x:hover {
  color:black
}

.textArea {
  width: auto;
}

.nicknameDiv {
  display: block;
  margin-top: 15px;
}

#nickname {
  display: block;
}

.privacy {
  font-size: small;
  color: grey;
  margin: 0%;
}

.emailDiv {
  display: block;
  margin-top: 15px;
}

.reviewDiv {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: small;
  margin: 0%;
}

