.username {
  color: grey;
  font-size: small;
}

.answerHelpDiv {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-top: 2%;
  margin-bottom: 3%;
  color: grey;
  font-size: small;
}

.answerYes {
  cursor: pointer;
  text-decoration: underline;
}

#answerListExpanded {
  background-color: red;

}

#answerList {
  height: 170px;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

#answerList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
