.QADiv {
  display: flex;
  flex-direction: column;
  margin: 7%;
}


.QAPair {
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}

.question {
  display: inline;
}

.addAnswer {
  display: inline;
  position: absolute;
  right: 2in;
  font-size: small;
  color: gray;
  cursor: pointer;
}

.answer {
  margin-top: 5px;
}

.inputs {
  margin-top: 5px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchDiv {
  display: flex;
  font-size: 16px;
  height: 50px;
}

.icon {
  display: flex;
  width: 60px;
  place-items: center;
}