.modalBackground {
  position: fixed;
  display: flex;
  padding-left: 125px;
  padding-right: 200px;
  margin: auto;
}

.modalContainer {
  width: 500px;
  height: 310px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-direction: column;
  padding: 30px;
}

.title {
  text-align: center;
}

.body {
  text-align: center;
}

.xbutton {
  display: fixed;
}