
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  grid-gap: 5px;
  color: rgb(80, 80, 80);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
