.style-selector-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 1rem;
}

.style-grid-container {
  /* margin: 10px 0; */
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 3.9em);
}

.current-style {
  font-weight: 400;
}

.style-child {
  justify-self:flex-start;
  display:flex;
  position: relative;
}

.thumb-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.9em;
  height: 3.9em;
  border-radius: 50%;
  overflow: hidden;
}

.style-thumb {
  position: relative;
  width: 3.9em;
  height: 3.9em;
  object-fit: cover;
}

.check {
  position: absolute;
  z-index: 200;
  right: -.7rem;
}