.modalBackground {
  position: fixed;
  display: flex;
  padding: 100px;
  margin: auto;
}

.modalContainer {
  width: 500px;
  height: auto;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 2px solid #000; */
  flex-direction: column;
  padding: 30px;
  display: grid;
  font-size: 18px;
}

.title {
  text-align: center;
}

.xbutton {
  width: 25px;
}

.sbutton {
  width: 70px;
  height: 40px;
}

.formGrid {
  display: grid;
  padding: 10px;
}

.stars {
  text-align: center;
  padding: 10px;
}

.reco {
  text-align: center;
  padding: 10px;
}

.chars {
  padding: 10px;
}

.sum {
  padding: 10px;
}

.rbody {
  padding: 10px;
}

.uphoto {
  padding: 10px;
}

.nname {
  padding: 10px;
}

.email {
  padding: 10px;
}