.modalBackground {
  position: fixed;
  display: flex;
  padding: 100px;
  margin: auto;
}

.modalContainer {
  width: 500px;
  height: auto;
  border-radius: 12px;
  background-color: rgb(229, 229, 229);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid #000;
  flex-direction: column;
  padding: 30px;
}

.title {
  text-align: center;
}

.xbutton {
  display: fixed;
}

.button {
}