.offBars{
  position: absolute;
  z-index: 3;
}

.offBar{
  opacity: 10%;
  height: 15px;
}

.onBars{
  position: relative;
  z-index: 1;
}

.onBar{
  height: 15px;
  opacity: 40%;
  z-index: 1;
  position: relative;
  color: green;
}