:root {
  --border: 3px solid #000000;
  --text-color: #000000;
  --bg-highlight: #e2e2e2;
  --box-height: 40px;
  --box-width: 200px;
  --speed: 500ms;
  --box-font-size: 1.4rem;
}

.size-selector {
  border: var(--border);
  height: var(--box-height);
  width: 160px;
  background-color: #fff;
  text-align: center;
  line-height: var(--box-height);
  position: relative;
}

.dropdown-btn {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  cursor: pointer;
}

.quantity-selector {
  border: var(--border);
  height: var(--box-height);
  width: var(--box-width);
  background-color: #fff;
  text-align: center;
  line-height: var(--box-height);
  position: relative;
}

.cart-button {
  font-family: 'Inconsolata', monospace;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  box-sizing: content-box;
  padding: 0;
  height: 40px;
  border: var(--border);
  width: 250px;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  line-height: var(--box-height);
  display: inline-flex;
  flex-direction: row;
  gap: 95px;
  overflow: hidden;
}

.star-button {
  box-sizing: content-box;
  padding: 0;
  border: var(--border);
  height: var(--box-height);
  width: 40px;
  background-color: #fff;
  font-size: var(--box-font-size);
  text-align: center;
  line-height: var(--box-height);
}

.cart-text {
  vertical-align: middle;
  margin-left: 9px;
}

.plus {
  margin-top: 6px;
}

.dropdown-content {
  top: 110%;
  width: 100%;
  position: absolute;
  z-index: 200;
  background: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  list-style: none;
  text-align: start;
  padding-left: 30px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-item:hover {
  background-color: #dbdbdb;
}