.product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.ratings-and-share-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price-and-share-style {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product-category {
  font-weight: 400;
  color: #363636;
}

.product-name {
  margin-top: -.5rem;
  font-size: 3rem;
  margin-bottom: -.5rem;
}

.sale-price {
  color: red;
}

.sale-strikethrough {
  text-decoration: line-through;
}

.star-rating-container {
  width: 75%;
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.stars {
  display: flex;
  flex-direction: row;
  height: 28px;
}

.star {
  height: 18px;
}

.read-all {
  font-weight: 400;
  font-size: 1rem;
}

.share {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}